
/**************************************************************
Header
***************************************************************/

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center; 
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  grid-column: span 2;
}

nav ul li {
  margin: 0 2rem;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: rgb(80, 76, 76);
}

header {
  background-color: white;
  color: white;
  padding: 10px;
  text-align: center;
}

.hero-pic {
  width: 100%;
}


a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  color: rgb(69, 68, 68);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-template-columns: repeat(4, 1fr); 
  font-size: 32px;
  position: absolute;
  justify-content: center;
  font-size: 3rem;
  left: 5%;
  top: 30%;

}


.hero-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px 50px;
  position: absolute;
  top: 55%;
  left: 5%;
  background-color:rgb(69, 68, 68);
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translateY(50%)
}

.hero-button:hover {
  background-color: white;
  color: rgb(92, 92, 92);
}

#search {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 115%; 
  display: flex;
}

#search:focus {
  outline: none;
  border-color: #8898ce;
  box-shadow: 0 0 5px rgba(161, 165, 161, 0.8);
}

.intro-text {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 45%;
  left: 5%;
  width: 65%;
}


/**************************************************************
Body
***************************************************************/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


/**************************************************************
Footer
***************************************************************/
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


/**************************************************************
Responsive
***************************************************************/
/* Media Query */
@media only screen and (max-width: 1282px) {
  #wrapLeft, #wrapRight {
      display:none;
  }
 #breakNav {
      display:block;
 }
}